.footer_container{
    height: 40vh;
    width: 100%;
    background: linear-gradient(
    to right,
    hsla(249, 100%, 81%, 1),
    hsla(207, 67%, 53%, 1),
    hsla(190, 94%, 51%, 1)
  ),url('https://res.cloudinary.com/srikanth143/image/upload/v1687452825/Layer_1_5_jjpdbt.svg');
  display: flex;
   gap:10em;
  align-items: center;
   
  color: white;
}
/* .logo_container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
} */
.grid-container {
  display: grid;
  grid-template-columns: .5fr .5fr .5fr; /* Three equal columns */
  grid-row-gap: 2em; /* Gap between grid items */
  grid-column-gap: 7em;
  width: 40%;
  font-weight: 500;
   
}
.email-container{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: .5em;
}
 
.logo_container{
    width: 19%;
    margin-left: 2.5em;

}
 
.logo_para{
  line-height: 1.6em;
}
 .linkdin{
  width: 2em;
  height: 2em;
 }
 .contact_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 2em;
  gap: .8em;
   
 }
 .contact_number{
  display: flex;
  align-items: center;
  justify-content:flex-start;
  gap:.2em
 }
 .message_icon{
  width: 2em;
  height: 2em;
 }